@use '../../common/variables' as var;

.feature-background-img {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: var.$padding-mobile-lr;
  .feature__copytext {
    align-self: flex-end;
    text-align: center;
    p {
      padding: var.$font-size-body 0;
      font-size: 16px;
      margin-bottom: 1em;
      letter-spacing: -0.4px;
    }
  }
  &--cyan {
    h2,
    p {
      color: var.$primary-text-cyan-dark-desaturated;
    }
  }
  &--blue {
    h2,
    p {
      color: var.$primary-blue-dark-text-photo;
    }
  }
  @include lg {
    justify-content: center;
    img {
      max-height: var.$max-height-feature-desktop;
    }
    .feature__copytext {
      max-width: 50%;
    }
  }
}
