@use '../../common/variables' as var;

.testimonials {
  padding: 60px var.$padding-mobile-lr;
  text-align: center;
  display: flex;
  flex-direction: column;
  h4 {
    margin-bottom: var.$padding-mobile-lr;
  }
  .testimonial {
    margin-bottom: var.$padding-mobile-lr;
    img {
      border-radius: 50%;
      max-width: 20vw;
      margin: var.$padding-mobile-lr;
    }
    h6 {
      margin-top: 20px;
    }
  }
}
