@use './variables' as var;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.bckground-cover {
  background-size: cover;
}

.img-full-width {
  width: 100%;
}
