@use './variables' as var;

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
  font-size: var.$font-size-body;
  font-weight: var.$font-weight-barlow;
  font-family: "Barlow", Tahoma, sans-serif;
  color: var.$secondary-blue-grayish-dark;
  line-height: 30px;
  letter-spacing: -0.1px;
}

.motto {
  text-transform: uppercase;
  font-family: "Fraunces", Georgia, "Times New Roman", Times, serif;
  font-weight: var.$font-weight-fraunces-bold;
  font-size: 40px;
  color: var.$secondary-white;
  line-height: 48px;
  text-align: center;
  letter-spacing: 7px;
  @include lg {
    font-size: 60px;
  }
}

.heading {
  font-family: "Fraunces", Georgia, "Times New Roman", Times, serif;
  font-weight: var.$font-weight-fraunces-bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 1px;
  color: var.$secondary-blue-dark-very-desaturated;
  &-secondary {
    text-transform: uppercase;
    font-family: "Fraunces", Georgia, "Times New Roman", Times, serif;
    color: var.$secondary-blue-grayish;
    font-size: 16px;
    letter-spacing: 4.2px;
  }
  @include lg {
    font-size: 40px;
    letter-spacing: 0.4px;
    line-height: 48px;
    &-secondary {
      font-size: 20px;
      letter-spacing: 5.2px;
    }
  }
}

.button-text {
  font-family: "Fraunces", Georgia, "Times New Roman", Times, serif;
  color: var.$secondary-blue-dark-very-desaturated;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  &--secondary {
    font-family: "Fraunces", Georgia, "Times New Roman", Times, serif;
    color: var.$secondary-blue-dark-very-desaturated;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: -0.48px;
    a:link {
      color: var.$secondary-blue-dark-very-desaturated;
    }
  }
}

.addnotation {
  &-big {
    font-family: "Fraunces", Georgia, "Times New Roman", Times, serif;
    font-weight: var.$font-weight-fraunces-bold;
    font-size: 18px;
    color: var.$secondary-blue-dark-very-desaturated;
  }
  &-small {
    font-size: 14px;
    color: var.$secondary-blue-grayish;
    letter-spacing: -0.1px;
  }
}

a,
a:link,
a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
}
