//colors
$primary-red-soft: hsl(7, 99%, 70%);
$primary-yellow: hsl(51, 100%, 49%);
$primary-text-cyan-dark-desaturated: hsl(167, 40%, 24%);
$primary-blue-dark-text-photo: hsl(198, 62%, 26%);
$primary-cyan-dark-moderate-footer: hsl(168, 34%, 41%);
$primary-cyan-light-moderate-footer: hsl(167, 44%, 77%);
$primary-cyan-moderate-footer: #2c7566;

$secondary-blue-dark-very-desaturated: hsl(212, 27%, 19%);
$secondary-blue-grayish-very-dark: hsl(213, 9%, 39%);
$secondary-blue-grayish-dark: hsl(232, 10%, 55%);
$secondary-blue-grayish: hsl(210, 4%, 67%);
$secondary-white: hsl(0, 0%, 100%);

//typo
$font-size-body: 18px;
$font-size-body-mobile: 15px;
$font-weight-barlow: 600;
$font-weight-fraunces-normal: 700;
$font-weight-fraunces-bold: 900;

//margins, paddings
$padding-mobile-lr: 28px;
$padding-desktop-lr: 110px;
$margin-desktop-sm: 50px;

$max-height-feature-desktop: 590px;
